table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid rgb(113, 121, 166);          
      }
    

td {
        border: 1px solid #a8bce9;
        text-align: left;
        padding: 8px;
      }
      
tr:nth-child(even) {
        background-color: #c0ccecce;
      }
body{
    background-image: url(https://modernparenting-onemega.com/wp-content/uploads/2023/06/How-Does-This-School-Applies-22Age-Appropriate22-Learning-1920x1080.jpg);
}

h1{
    text-align: center;
}